*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Game Resources
*.rpf
*.bin
*.log
Config/
Drivers/
dxuk-cache/
save/
update/
x64/
*.apk
*.aab
build/
